body{
	background-color: #FFEBCD;
	color: #4B0082;
	font-family: arial;
	margin-top: 5%;
	margin-left: 10%;

}
ul {
	color: #8A2BE2;
}
button{
	background-color: #FF69B4;
	color: #fff;
	border-style: solid;
	border-color: #fff;
	border-radius: 50%;
	height: 40px;
	width: 100px;
}
img{
	float: right;
	width : 25%;
	margin-right: 20%;

}
input{
	border-style: solid;
	border-radius: 20px;
	border-color: #FF69B4;
	color: #FF69B4;
}
